<% provide(:title, "sign up") %>
<h1>sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3"">
    <%= form_with(model: @user, local: true) do |form| %>
      <%= render "shared/error_messages" %>

      <%= form.label :name, "name" %>
      <%= form.text_field :name, class: "form-control"  %> 

      <%= form.label :email, "email" %>
      <%= form.text_field :email %> 

      <%= form.label :password, "password" %>
      <%= form.password_field :password, class: "form-control" %> 

      <%= form.label :password_confirmation, "confirm password" %>
      <%= form.password_field :password_confirmation, class: "form-control" %> 

      <%= form.submit "create account", class: "btn btn-primary" %>
    <% end %>
  </div>  
</div>