<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">  
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>'s page
      </h1>
      <h1><%= @user.email %></h1>
      <p> created at: <%= @user.created_at.strftime("%m/%d/%Y at %I:%M%P") %></p>
      <p> last updated: <%= @user.updated_at.strftime("%m/%d/%Y at %I:%M%P") %></p>
    </section>
</div>
</aside>
